<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit User</title>
</head>
<body>
<div align="center">
    <h1>Edit User</h1>
    <br />
    <form action="#" th:action="@{/update}" th:object="${User}"
          method="post">

        <table border="0" cellpadding="10">
                <td>User</td>
                <td hidden>
                    <input type="text" th:field="*{userId}" readonly="readonly" />
                </td>
                <td>
                    <input type="text" th:field="*{user}"  />
                </td>
            </tr>
            <tr>
                <td>Status :</td>
                <form >
                    <td>
                        <select name="status" id="status" th:field="*{status}">
                            <option value="Active">Active</option>
                            <option value="Non Active">Non Active</option>
                        </select>
                    </td>
                </form>
            </tr>

            </tr>


            <tr>
                <td colspan="2"><button type="submit"  th:field="*{status}" value="status">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>